<div id='page_wrapper'>
	<div id='profile_image'>
		<%= image_tag 'profile.png' %>
	</div>

	<div id='content'>
		<h1>Hey, I'm Ishu</h1>
		<p>This is week 2 of 12 web Apps </p>
		<p>This week I bulit a blog in rails5 </p>		
	</div>
</div>
